{%extends 'master.html'%}{%block title%}About{%endblock%}{%block body%}{%load static %}
<style>
    .container {
        background-color: rgb(245, 248, 252);
        max-width: 70%;
        height: 800px;
        margin: auto;
        padding: 30px
    }
    
    img {
        float: left;
        margin: 1%;
    }
    
    h1 {
        background-color: rgb(18, 182, 163)
    }
</style>
<div>
    <br><br><br>
</div>
<h1 align="center">
    <u>
 
        About me</u></h1>
<div class="container">
    <img src=" {%static 'images/one.jpeg'%} " alt="img" height="45%" width="35%">

    <p> Hey &#128075;Hello there! I am pleased that you’d like to know a little about me as you came here to read my self introduction hehe.. My name is Kishan, I was born & grew up in delhi, I graduated with the degree of Computer applications, after that
        I always try to work with my skills ,and try learn more and more from everywhere to grow my knowledge & skills. I would appreciate constructive criticism regarding my work because that will help me do better. Or if you just want to say hi or say
        anything rather than leaving a comment, you may send me an email(go to my introduction page scroll down till the end write down on contact me section) or directly mail me <b>@gangulykishan@gmail.com</b><br> You can also follow me on instagram
        as
        <a href="https://instagram.com/kishan_ganguly?utm_medium=copy_link">@kishan_ganguly</a>.
        Thankyou!
    </p>
    
</div><br><br>


{%endblock%}