{%extends 'master.html'%}{%block title%}Home{%endblock%}{% load crispy_forms_tags %}{%block body%}{% load static %}
<div class="container" style="background-image: url( '/static/images/img1.jpg');" align="center"><br><br><br><br><br><br><br>
    <div class="mx-auto my-4 text-center">
        <h1 class="fw-bolder text-success">We sent your message</h1>
        <p class=" my-5 " style="color:white;">You can send another in the <a href=" {%url 'blog_app:home'%} ">contact page</a></p><br>
        <img src="{%static 'images/giphy_s (1).gif '%} " alt="... " height="200px " width="200px ">
        <br><br><br></div>
</div>{%endblock%}